root = true

[*.cs]
indent_style = space
indent_size = 4
dotnet_sort_system_directives_first = true

csharp_style_namespace_declarations = file_scoped:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion

dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion

dotnet_style_require_accessibility_modifiers = always:suggestion